@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.shoppingCart {
	&__heading {
		margin-bottom: 2rem;
		text-align: center;
	}

	&__noItems {
		text-align: center;
		font-size: 24px;
		font-weight: 500;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__total {
			padding-top: 1rem;
			text-align: center;
		}

		&__cartActions {
			display: flex;
			flex-direction: row;
			gap: 1rem;

			&__clear,
			&__checkout {
				margin-top: 0.5rem;
				cursor: pointer;
				width: fit-content;
				transition: v.$default-transition-duration;
				padding: 0.8rem 1rem;
				border: v.$default-border;
				border-radius: 5px;
				font-size: medium;

				&:hover {
					border: v.$default-border;
					@include m.popout-hover;
				}
			}

			&__clear {
				background-color: v.$primary-bg-color;
			}

			&__checkout {
				background-color: #518e3a;
				color: white;
			}
		}
	}
}
