@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.shoppingCart {
	&__heading {
		margin-bottom: 2rem;
		text-align: center;
	}

	&__noItems {
		text-align: center;
		font-size: 24px;
		font-weight: 500;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__total {
			padding-top: 1rem;
			text-align: center;
		}

		&__cartActions {
			display: flex;
			flex-direction: row;
			gap: 1rem;

			&__clear,
			&__checkout {
				@include m.primary-btn;
			}

			&__clear {
				background-color: v.$primary-bg-color;
			}

			&__checkout {
				background-color: #518e3a;
				color: white;
			}
		}
	}
}

.checkoutContent {
	text-align: center;
	font-size: 22px;
	padding-bottom: 1rem;
}

.continueShopping {
	@include m.primary-btn;
}
