@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.hero {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: v.$default-border;

	&__main {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__img {
			width: 100%;
			max-width: 800px;
			padding-right: 2rem;
		}

		&__heading {
			margin: 0;
			padding: 0rem 2rem;
			font-size: 80px;
			text-align: left;
			color: white;
		}

		&__text {
			padding: 0rem 2rem;
			font-size: 40px;
			color: v.$primary-bg-color;
		}

		&__btn {
			@include m.primary-btn;
			margin: 2rem;
			font-size: large;

			&:hover {
				box-shadow: 5px 5px 0px v.$primary-bg-color;
				animation: backgroundColor 3s ease-in-out alternate infinite;
			}
		}
	}
}

.heroContainer {
	width: 100%;
	height: 100%;
	background-image: url("https://i.pinimg.com/originals/f2/04/83/f20483b6118baa667447da28b5200dc4.jpg");
	background-size: cover;
	background-position: center center;
	box-shadow: inset 0 0 0 1000px #00000098;
}

@include m.color-animation;
