@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.hero {
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: v.$default-border;

	&__left {
		background-color: v.$palette-blue;
		width: 100%;
		height: 100%;
		border-right: v.$default-border;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__img {
			width: 100%;
			max-width: 800px;
			padding-right: 2rem;
		}

		&__heading {
			margin: 0;
			padding: 0rem 2rem;
			font-size: 80px;
			text-align: left;
			color: white;
		}

		&__text {
			padding: 0rem 2rem;
			font-size: 40px;
			color: v.$primary-bg-color;
		}

		&__btn {
			margin: 2rem;
			font-size: large;
			padding: 1rem;
			border-radius: 10px;
			border: v.$default-border;
			cursor: pointer;
			background-color: v.$primary-bg-color;
			transition: v.$default-transition-duration;

			&:hover {
				@include m.popout-hover;
				animation: backgroundColor 3s ease-in-out alternate infinite;
			}
		}
	}

	&__right {
		height: 100%;
		width: 100%;
		overflow: hidden;
		background-color: rgb(49, 48, 48);

		&__img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

@include m.color-animation;
