@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

$primary-font: "Bricolage Grotesque", sans-serif;
$primary-text-color: #000000;
$primary-bg-color: #f9f5e3;

$palette-yellow: #f0deaa;
$palette-pink: #eaa39e;
$palette-blue: #6999a5;

$palette-gradient: linear-gradient(
	to bottom right,
	$palette-yellow 0%,
	$palette-pink 100%
);

$default-border: 1px solid #000000;
$default-transition-duration: 400ms;
