@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

$primary-font: "Bricolage Grotesque", sans-serif;
$primary-text-color: #000000;
$primary-bg-color: #f9f5e3;

$palette-yellow: #f0deaa;
$palette-pink: #eaa39e;
$footer-bg-color: #01050c;

$default-border: 1px solid #000000;
$default-transition-duration: 400ms;

$footer-height: 300px;
$navbar-height: 40px;
$default-page-height: calc(
	100vh - $footer-height - 8rem - $navbar-height - 3rem
);

$mobile-breakpoint: 800px;
$tablet-breakpoint: 1200px;
