@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.form {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__container {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&__input {
		width: 1rem;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}

	&__input,
	&__increase,
	&__decrease {
		padding: 0.5rem;
		border: v.$default-border;
		border-radius: 5px;
	}

	&__increase,
	&__decrease {
		cursor: pointer;

		&:hover {
			background-color: v.$palette-yellow;
		}

		&:disabled {
			border: 1px solid lightgray;

			&:hover {
				background-color: v.$primary-bg-color;
			}
		}
	}

	&__addToCart {
		margin-top: 0.5rem;
		cursor: pointer;
		width: fit-content;
		transition: v.$default-transition-duration;
		padding: 0.8rem 1rem;
		border: v.$default-border;
		border-radius: 5px;
		background-color: #518e3a;
		color: white;
		font-size: medium;

		&:hover {
			border: v.$default-border;
			@include m.popout-hover;
		}
	}
}
