@use "../../styles/variables" as v;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	border-bottom: v.$default-border;

	&__mainLinks {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
	}

	&__home {
		justify-self: center;
		text-align: center;
	}

	&__cart {
		justify-self: flex-end;

		&__icon {
			transition: v.$default-transition-duration;

			&:hover {
				transform: scale(1.2);
				fill: pink;
			}
		}
	}
}
