@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: v.$navbar-height;
	padding: 1.5rem;
	border-bottom: v.$default-border;

	&__logoContainer {
		width: 40px;
		height: 40px;
		overflow: hidden;
		border: v.$default-border;
		border-radius: 5px;
		transition: v.$default-transition-duration;
		cursor: pointer;

		&:hover {
			@include m.popout-hover;
		}
	}

	&__logo {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__mainLinks {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		font-size: large;
		color: black;
	}

	&__home,
	&__products {
		transition: v.$default-transition-duration;
		padding: 0.5rem;
		border: 1px solid transparent;
		border-radius: 5px;

		&:hover {
			border: v.$default-border;
			@include m.popout-hover;
		}
	}

	&__cart {
		justify-self: flex-end;

		&__icon {
			transition: v.$default-transition-duration;

			&:hover {
				transform: scale(1.2);
				fill: v.$palette-pink;
			}
		}
	}
}
